::-webkit-scrollbar {
    width: 0 !important;
}

/* Default  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

$bg-color: #212428;
$bg-color-hover: #191a1f;
$color-primary: #ff014f;
$color-lightn: #c3cfde;
$color-lighter: #ced0d4;
$color-subtitle: #f9004d;
$color: #9ca5b1;
$color-white: #fff;
$color-body: #878e99;
$color-link: #c4cfde;
$color-years: #7c838e;
$form-color: #a0a8b3;
$bg-color-1: linear-gradient(145deg, #1e2024, #23272b);
$bg-color-2: linear-gradient(to right bottom, #212428, #16181c);
$skill-bg-color: linear-gradient(145deg, #f02981 0%, #c81901 100%);
$box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
$box-shadow-2: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
$inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset,
    -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
$skill-box-shadow: inset 8px 8px 16px #00000075, inset -8px -8px 16px #383e4575;
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$p-light: 300;
$p-regular: 400;
$p-medium: 500;
$p-semi-bold: 600;
$p-bold: 700;
$p-extra-bold: 800;
$p-black: 900;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color !important;
}

.bg-color {
    background-color: $bg-color !important;
}

.form-color {
    color: $form-color !important;
}

.color-primary {
    color: $color-primary !important;
}

.color-body {
    color: $color-body !important;
}

.color-lightn {
    color: $color-lightn !important;
}

.color-subtitle {
    color: $color-subtitle !important;
}

.color {
    color: $color !important;
}

.color-link {
    color: $color-link !important;
}

.color-years {
    color: $color-years !important;
}

.color-lighter {
    color: $color-lighter !important;
}

.color-white {
    color: #fff !important;
}

.skill-bg-color {
    background-image: $skill-bg-color !important;
}

.hover-color-white:hover {
    color: #fff !important;
}

.hover-color-primary:hover {
    color: $color-primary !important;
}

.hover-color-body:hover {
    color: $color-body !important;
}

.hover-color-lightn:hover {
    color: $color-lightn !important;
}

.hover-color-subtitle:hover {
    color: $color-subtitle !important;
}

.hover-color:hover {
    color: $color !important;
}

.hover-color-link:hover {
    color: $color-link !important;
}

.hover-color-years:hover {
    color: $color-years !important;
}

.hover-form-color:hover {
    color: $form-color !important;
}

.bg-color-1 {
    background-image: $bg-color-1 !important;
}

.hover-bg-color-2:hover {
    background-color: #212427 !important;
}

.hover-bg-color-1:hover {
    background-image: $bg-color-2 !important;
}

.box-shadow {
    box-shadow: $box-shadow !important;
}

.hover-box-shadow:hover {
    box-shadow: $box-shadow !important;
}

.skill-box-shadow {
    box-shadow: $skill-box-shadow !important;
}

.box-shadow-2 {
    box-shadow: $box-shadow-2 !important;
}

.font-primary {
    font-family: $font-primary !important;
}

.font-secondary {
    font-family: $font-secondary !important;
}

.p-light {
    font-weight: $p-light !important;
}

.p-regular {
    font-weight: $p-regular !important;
}

.p-medium {
    font-weight: $p-medium !important;
}

.p-semi-bold {
    font-weight: $p-semi-bold !important;
}

.p-bold {
    font-weight: $p-bold !important;
}

.p-extra-bold {
    font-weight: $p-extra-bold !important;
}

.p-black {
    font-weight: $p-black !important;
}

.fs-xl-60 {
    font-size: 55px !important;
}

.fs-xl-48 {
    font-size: 45px !important;
}

.fs-xl-36 {
    font-size: 36px !important;
}

.fs-xl-32 {
    font-size: 32px !important;
}

.fs-xl-29 {
    font-size: 29px !important;
}

.fs-xl-24 {
    font-size: 24px !important;
}

.fs-xl-22 {
    font-size: 22px !important;
}

.fs-xl-20 {
    font-size: 20px !important;
}

.fs-xl-18 {
    font-size: 18px !important;
}

.fs-xl-17 {
    font-size: 17px !important;
}

.fs-xl-16 {
    font-size: 16px !important;
}

.fs-xl-14 {
    font-size: 14px !important;
}

.fs-xl-12 {
    font-size: 12px !important;
}

.pt-xl-20 {
    padding-top: 20px !important;
}

.borr-6 {
    border-radius: 6px !important;
}

.borr-10 {
    border-radius: 10px !important;
}

.borr-20 {
    border-radius: 20px !important;
}

.bor-color-dark {
    border-color: #121415 !important;
}

.px-xl-25 {
    padding-right: 25px !important;
    padding-left: 25px !important;
}

.pr-xl-25 {
    //
    padding-right: 25px !important;
}

.pl-xl-25 {
    //
    padding-left: 25px !important;
}

.my-xl-100 {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

.page {
    z-index: 998 !important;
    background: $color-primary !important;
}

.cursor-pointer:hover {
    cursor: pointer !important;
}

.modal-content {
    background-image: $bg-color-1 !important;
    border-radius: 10px !important;
    background: $bg-color !important;
    border: 0px solid transparent;
    padding: 15px;
}

@media (max-width: 575px) {
    .fs-60 {
        font-size: 30px !important;
    }

    .fs-48 {
        font-size: 25px !important;
    }

    .fs-24 {
        font-size: 15px !important;
    }

    .fs-18 {
        font-size: 14px !important;
    }

    .fs-16 {
        font-size: 14px !important;
    }

    .fs-14 {
        font-size: 10px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .fs-sm-60 {
        font-size: 42px !important;
    }

    .fs-sm-48 {
        font-size: 42px !important;
    }

    .fs-sm-14 {
        font-size: 14px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .fs-md-60 {
        font-size: 40px !important;
    }

    .fs-md-36 {
        font-size: 30px !important;
    }

    .fs-md-24 {
        font-size: 21px !important;
    }

    .fs-md-16 {
        font-size: 12px !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .fs-lg-60 {
        font-size: 38px !important;
    }

    .fs-lg-48 {
        font-size: 37px !important;
    }

    .fs-lg-24 {
        font-size: 22px !important;
    }
}
